PORT=5000
DATABASE_URL_RUNTIME=
DATABASE_URL_IMPORTER=
DATABASE_URL_REPORTS=
DATABASE_URL_ADMIN_DIRECT=
JWT_SECRET=
SEQUELIZE_SYNC_ON_START=false

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_USE_SANDBOX=true

FRONTEND_URL=http://localhost:5173
BACKEND_PUBLIC_URL=
