PORT=
DATABASE_URL_RUNTIME=
DATABASE_URL_IMPORTER=
DATABASE_URL_REPORTS=
DATABASE_URL_ADMIN_DIRECT=
JWT_SECRET=
SEQUELIZE_SYNC_ON_START=

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_USE_SANDBOX=

FRONTEND_URL=
BACKEND_PUBLIC_URL=
ML_RECOMMENDATION_API_URL=

INVENTORY_RESERVATION_TTL_MINUTES=
INVENTORY_RESERVATION_RELEASE_CRON=
INVENTORY_RESERVATION_RELEASE_TIMEZONE=

SALES_ML_URL=http://127.0.0.1:8001
SALES_ML_API_KEY=change_this_value
SALES_ML_TIMEOUT_MS=60000
SALES_PREDICTION_CACHE_MS=600000
